<h1>I Need A Job</h1>
<div class="row">
    <div class="col-6">
        <h2>Employers</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let employer of employers">
                <a href="#" (click)="selectEmployer(employer._id, employer.name, employer.region, employer.description)"class="list-group-item active">{{employer.name}}</a>
                <p>{{employer.region}}</p>
                <p>{{employer.description}}</p>
            </li>
        </ul>
    </div>
    <div class="col-6">
        <h2>Employer Details</h2>
        <fieldset class="p-2">
            <label class="col-2">Name</label>
            <input [(ngModel)]="name"/>
        </fieldset>
        <fieldset class="p-2">
            <label class="col-2">Region</label>
            <input [(ngModel)]="region"/>
        </fieldset>
        <fieldset class="p-2">
            <label class="col-2">Description</label>
            <textarea [(ngModel)]="description"></textarea>
        </fieldset>
        <div class="offset-2">
            <button class="btn btn-primary m-1" (click)="addEmployer()" *ngIf="!_id">Save</button>
            <button class="btn btn-primary m-1" (click)="updateEmployer()" *ngIf="_id">Update</button>
            <button class="btn btn-danger m-1" (click)="deleteEmployer(_id)" *ngIf="_id">Delete</button>
            <button class="btn btn-secondary m-1" (click)="clearForm()" >Clear</button>
        </div>
    </div>
</div>